img {
    width: 8rem;
    max-width: 100%;
}

button {
    position: relative;
}
    .my_badge {
        width: 30px;
        height: 30px;
        position: absolute;
        top: -0.9rem;
        right: -1rem;
    }

@media (max-width: 991.98px) { 
    .navbar_dark {
        background-color: rgb(83, 83, 83);
    }
    
}