<div class="container my-4 bg-white">
    <!-- items full basket-->
    <h2 class="m-0 py-3 text-center">My Basket</h2>
    <div *ngFor="let item of items" class="box row py-3 px-2 border-bottom align-items-baseline">
        <div class="image col-2 p-0">
            <img src="{{item.image}}" alt="">
        </div>
        <div class="col-3 title h6 text-center fs-4 fw-bold">{{ item.destination }}, {{ item.land }}</div>
        <div class="col-3 px-3 fs-7">Start at {{ item.startDate }}</div>
        <div class="col-3 px-3 fs-7">Price: {{item.price.toFixed(2) | currency}}</div>
    </div>

    <!-- total for full basket-->

    <div *ngIf="items != 0; else other_content">
        <div class="col-3 px-0 fs-7 my-4"><span class="fw-bold">Total items:</span> {{basketLength}}</div>
        <div class="col-3 px-0 fs-7 my-4"><span class="fw-bold">Total preis:</span> {{price.toFixed(2) | currency}}</div>
        <!-- discount if sum is > 200-->
        <div *ngIf="price > 200 && price < 500" class="col-3 px-0 fs-7 my-4"><span class="fw-bold">Discount price (-10%):</span> {{price.toFixed(2)* 0.9 | currency}}</div>
        <!-- discount if sum is > 500-->
        <div *ngIf="price > 500" class="col-3 px-0 fs-7 my-4"><span class="fw-bold">Discount price:</span> (-25%): {{price.toFixed(2)* 0.75 | currency}}</div>
        <button class="btn bg-white border border-dark text-dark col-3 bg-primary my-4 py-2" type="submit" (click)="onSubmit()">Purchase</button>
    </div>

    <!-- for empty basket-->

    <ng-template #other_content>
        <div class="row bg-white m-0 py-4">Your basket is empty</div>
        <div class="col-12 col-md-6">
            <img src="https://cdn.dribbble.com/users/1187836/screenshots/5935226/3-cart.gif" alt="">
        </div>
    </ng-template>
</div>

