<div class="container my-4">
    <div class="row">
        <h2 class="m-0 py-5 text-center">Travel Offers</h2>
        <div *ngFor="let value of travels; index as travelId" class="col col-12 col-md-6 col-lg-4 mb-4">
            <!-- begin of loop -->
            <div class="box card">
                <div class="image">
                    <img src="{{value.image}}" alt="">
                </div>
                <div>
                    <div class="title h5 my-4 text-center fs-5 fw-bold">{{value.destination}}, {{ value.land }}</div>
                    <div class="px-3 fs-7 my-2">Begin: {{ value.startDate }}</div>
                    <div class="px-3 fs-7 my-2">Duration: {{ value.duration }}</div>
                    
                    <div class="px-3 fs-7 my-4 fw-bold">Price: {{value.price.toFixed(2)}}</div>
                    <a routerLink="{{travelId}}" class="card-footer text-muted text-center border-0">More</a>
                </div>
            </div>
        </div>
    </div>
</div>