<div class="container py-4">  
    <div *ngFor="let value of blogitems" class="card my-2">
        <div class="card-body row">
            <div class="col-6">
                <img src="{{value.image}}" alt="">
            </div>
            <div class="col-6">
                <h5 class="card-title">{{value.title}}, {{value.subtitle}}</h5>
                <p class="card-text py-2">{{value.description}}</p>
                
                <!-- stars if title is Bari-->
                <p *ngIf="value.title == 'Bari'; else other_content">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </p>

                <!-- stars for another cities-->

                <ng-template #other_content>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                </ng-template>
            </div>
        </div>
        <div class="card-footer border-0 fs-6 fst-italic text-end text-muted">Created: {{value.created}}</div>
    </div>
</div>
