.banner {
    margin-top: -9rem;
    height: 44rem;
    padding: 20rem 0;
    text-shadow: 2px 2px 6px rgba(0, 0, 100, 1);
    color: white;
    background: url(../../assets/img/banner8.jpg) top no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Georgia';
    font-weight: 600;
    font-size: 3rem;
    width: 40%;
}